body{
    background-color: black;
}


.btn{
    height: 40px;
    width: 15%;
}

#image_input{
    background-color: lightgrey;
    margin: auto;
    margin-top: 50px;
}

#preview_canvas{
    background-color: lightgrey;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#reset{
    background-color:orange;
    border: 2px solif orange;
}
