{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Image Recognition</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
{% csrf_token %}
<body>
    <section hidden>
        <canvas id="hidden_canvas"></canvas>
    </section>
    <div class="container" align=center>
        <input type="file" name="" id="image_input" accept="image/*">
        <br>
        <canvas width="640" height="360" id="preview_canvas"></canvas>
        <br>
        <button class="btn btn-primary" id="infer">Infer</button>
        <button class="btn btn-primary" id="reset">Reset</button>
        <input type="text" id="label">
    </div>
    <script src="{% static 'infer.js' %}"></script>
</body>
</html>